/*font-family: 'Ultra', serif;
font-family: 'Lekton', sans-serif;
font-family: 'Bungee Hairline', cursive;*/

body {
	text-align: center;
	background: rgb(255, 255, 255);
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	font: 2em  'Bungee Hairline', cursive;
	padding: 20px 0 10px;
	margin-bottom: 25px;
	color: rgb(0, 0, 0);
}

img {
	max-height: 100px;
}

.crystal-container, .crystal-a, .crystal-b, .crystal-c, .crystal-d {
	max-height: 300px;
<<<<<<< HEAD
	height: 100%;
	padding: 30px;
	overflow: hidden;
=======
	padding: 50px;
	overflow: auto;
>>>>>>> f230f827330adf545f78c606e9979f34ec06b856
}

.crystal-a {
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	border-right:  1px solid rgba(0, 0, 0, .15);
}

.crystal-b {
	border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.crystal-c {
	border-right:  1px solid rgba(0, 0, 0, .15);
}